:root {
    --violeta-claro: #b3b1d8;

    --azul-claro:#6889e3;
    --azul-claroB: #131967;

    --violeta-oscuro: #9298c1;
    --violeta-oscuroB: #0d2074;
    --violeta-oscuroC: #382d4e;
    --violeta-oscuroD: #1e005a;

    --amarillo-claro: #EDE1B7;
    --amarillo-claroB: #e1ba2a;
    --amarillo-claroC: #f5d65d;
    --amarillo-claroD: #dbcfbd;
}